#text2
{
    padding-left: 55px;
  
   
}

#text3 
{
    width: 100px;
  
   
}
#toc2
{
   right: 30px;
    
    
}   
#im
{
    padding-left: 32px;
}
#im1
{
    padding-left: 50px;
}
#message
{
    width: 200px;
    height: 50px;
    
}
#des
{
    padding-left: 50px;
}
table,td{
    border: 1px solid #000
}

